<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>291803517071-v2kq67ajd0fv0joolc05rtrbklak4204.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291803517071-v2kq67ajd0fv0joolc05rtrbklak4204</string>
	<key>API_KEY</key>
	<string>AIzaSyCQQyZ1_EUlMR7ciVwssay6Mle6NtNqACU</string>
	<key>GCM_SENDER_ID</key>
	<string>291803517071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zakiyamaaaaa.chinesewithcats</string>
	<key>PROJECT_ID</key>
	<string>chinesewithcats</string>
	<key>STORAGE_BUCKET</key>
	<string>chinesewithcats.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291803517071:ios:f27d0b73242391f5</string>
	<key>DATABASE_URL</key>
	<string>https://chinesewithcats.firebaseio.com</string>
</dict>
</plist>